.title {
  text-align: center;
}

.user-list {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.user {
  font-weight: 800;
  padding: 22px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
.active-user {
  background-color: #f5d1c8;
  border-color: #fa6945;
}
h1 {
  margin-top: 2px;
}
